/* HEADER. */

/* .wrapper {
    display: "flex";
    min-height: "100vh";
    flex-direction: "column";
} */

/* .header {
    background: linear-gradient(45deg, #ffd1dc, #b19cd9);
} */

/* .content {
    margin-top: "3rem";
    flex: 1;
} */

/* Hold off for now, been giving problems. */
